body{
    font-family: 'Poppins', sans-serif;
    /* font-family: sans-serif; */
}
:root{
    --1st-color:#042825;
    --2nd-color:#134A46;
    --3rd-color:#61CE70;
    --4th-color:#40DFA3;
    --5th-color:#F1F2F2;
    --6th-color:#ffffff;
    --7th-color:#687E7C;
    --8th-color:#7A7A7A;
    
}

.manu-btn a{
    text-decoration: none;
    color: var(--6th-color);
    background-color: var(--1st-color);
    padding: 12px 20px;
    font-size: 14px;
}
.manu-btn a:hover{
    background-color: var(--2nd-color);
}
.modal-btn{
    position: fixed;
    bottom: 50%;
    right: 0;
}

.hero-area{
    background-image: url(image/hero-banner.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text h2{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 50px 0;
}
.hero-text p{
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
}
.hero-btn{
    text-decoration: none;
    color: var(--6th-color);
    background-color: var(--1st-color);
    padding: 15px 25px;
    font-size: 14px;
}
.hero-btn:hover{
    background-color: var(--2nd-color);
}
.hero-btn-2{
    text-decoration: none;
    color: var(--1st-color);
    margin-left: 40px;
}
.hero-btn-2:hover{
    color: var(--2nd-color);
}
.plugin-area{
    padding: ;
}
.plugin-text div h3{
    font-size: 40px;
}
.plugin-text-top{
    border-bottom: 10px solid #ffffff;
}
.plugin-text-top-left{
    background-color: var(--1st-color);
    border-right: 10px solid #ffffff;
}
.plugin-text-top-left h4{
    font-size: 28px;
    margin-top: 60px;
}
.plugin-text-top-left h5{
    margin-bottom: 50px;
}
.plugin-text-top-right{
    background-color: var(--1st-color);
    border-left: 10px solid #ffffff;
}
.plugin-text-top-right h4{
    font-size: 28px;
    margin-top: 60px;
}
.plugin-btn{
    text-decoration: none;
    font-family: sans-serif;
    color: var(--6th-color);
    background-color: var(--3rd-color);
    padding: 10px 30px;
    border-radius: 10px;
}
.plugin-text-bottom-left{
    background-color: var(--1st-color);
    border-right: 10px solid var(--6th-color);
    
}
.plugin-text-bottom-center{
    background-color: var(--1st-color);
    border-left: 10px solid var(--6th-color);
    border-right:10px solid var(--6th-color);

}
.plugin-text-bottom-right{
    background-color: var(--1st-color);
    border-left: 10px solid var(--6th-color);
}

.service-area{
    background-color: var(--5th-color);
}
.service-text div h3{
    font-size: 42px;
}
.service-post-1{
   background-color: var(--6th-color); 
   border-right:10px solid var(--5th-color);
}
.service-post-2{
    background-color: var(--6th-color);
    border-left:10px solid var(--5th-color);
    border-right:10px solid var(--5th-color); 
}
.service-post-3{
    background-color: var(--6th-color); 
    border-left:10px solid var(--5th-color);
    border-right:10px solid var(--5th-color); 
}
.service-post-4{
    background-color: var(--6th-color); 
    border-left:10px solid var(--5th-color);
}
.single-service h2{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
}
.service-more-btn{
    text-decoration: none;
    color: var(--1st-color);
    margin-right: 20px;
}
.service-arrow-btn{
    text-decoration: none;
    font-size: 20px;
    color: var(--1st-color);
    background-color: var(--4th-color);
    padding: 10px 15px;
    border-radius: 50%;
}
.Quote-btn{
    text-decoration: none;
    color: var(--6th-color);
    background-color: var(--1st-color);
    padding: 20px 40px;
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: bold;
}
.Quote-btn:hover{
    background-color: var(--2nd-color);
}

.contribution-text div h3{
font-size: 44px;
}
.contribution-post p{
    font-family: sans-serif;
    font-size: 18px;
    color: var(--7th-color);
}
.contribution-post h4{
    font-size: 28px;
}
.product-text{
    background-image: url(image/back-banner.PNG);
    background-size: cover;
    padding: 90px 0;
}
.Product-btn{
    text-decoration: none;
    color: var(--6th-color);
    background-color: var(--1st-color);
    padding: 20px 40px;
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: bold;
}
.Product-btn:hover{
    background-color: var(--2nd-color);
}
.product-text div h1{
    font-size: 48px;
    padding: 50px 0;
}
.about-text div h3{
    font-size: 40px;
}
.about-single-post h3{
    font-size: 36px;
}
.about-single-post h5{
    font-family: sans-serif;
    font-size: 24px;
    padding: 15px 0;
}
.contact-text{
    background-image: url(image/back-banner-2.PNG);
    background-size: cover;
    padding: 120px 0;
}
.contact-text div h1{
    font-size: 52px;
    padding-bottom: 25px;
}
.contact-text div h5{
    font-family: sans-serif;
    font-size: 24px;
}
.footer-text div a{
    text-decoration: none;
    color: var(--8th-color);
    font-family: sans-serif;
    font-weight: bold;
}
.footer-text div a:hover{
    color: var(--2nd-color);
}
.footer-icon div a{
    font-size: 18px;
    color: black;
    padding: 8px 12px;
    border-radius: 50%;
    border: 1px solid var(--8th-color);
    margin:0 10px;
}
.footer-icon div a:hover{
    background-color: var(--4th-color);
    border: none;
}

.footer-bottom-text div p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--8th-color);
}
.footer-bottom-text div a{
    text-decoration: none;
    color: var(--8th-color);
}
.footer-bottom-text div a:hover{
    color: var(--2nd-color);
}
